p {
    font-family: monospace;
    font-size: 24px;
    color: blue;
}

h1 {
    font-family: monospace;
    font-size: 70px;
    color: brown;
}


.warning {
    font-size: 100px;
    color:rgb(0, 4, 255);

}

#test {
    font-size: 400px;
}

.class1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
font-style: italic;
font-weight: 900;
}

#test2 {
font-style: italic;
font-size: 200px;
}